<!DOCTYPE html>
<html>
  <body>
    <h1>{{.AppName}} - Reset Password Request</h1>
    <p>
      Someone has requested to reset your password. If this wasn't you simply ignore this e-mail.
    </p>
    <p>
      If this was you, and you would like to reset your password, you can do so by clicking this
      link and following the directions on the screen:
    </p>
    <p>
      <a href="{{.AppBaseURL}}/reset-password?token={{.Token}}">
        {{.AppBaseURL}}/reset-password?token={{.Token}}
      </a>
    </p>
  </body>
</html>
