Hey {{.User.FirstName}}!

<p>
  Welcome to Fun Banking! 🎉 We wanted to let you know that we are glad you're here. If you have any
  questions or feedback for the Fun Banking team, please feel free to reach out to us at
  <a href="mailto:bytebury@gmail.com">bytebury@gmail.com</a>
</p>

<p>
  To start using the features within Fun Banking, you will need to verify your account. You can do
  so by clicking "Verify Your E-mail" below.
</p>

<br />
<a
  href="{{.AppBaseURL}}/emails/verify?token={{.Token}}"
  style="
    padding: 8px;
    border-radius: 20px;
    background-color: #1d692f;
    color: white;
    font-weight: 700;
    text-decoration: none;
  "
  >&nbsp;Verify Your E-mail&nbsp;</a
>
<br />
<br />

<p>
  Your online banking simulator,<br />
  Fun Banking
</p>
